 <!DOCTYPE html>
<html lang="en">


 
  </header>
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
      

      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    </head>
    <body>
    
    {% with messages = get_flashed_messages()%}
      {% if messages%}
        {% for message in messages%}
          <p style="color:#C8A4D4;">{{message}}</p>
        {%endfor%}
      {%endif%}
    {%endwith%}
    <div class="container" ><!--container for attempting bootstrap stuff-->


      
      <div class="row"> <!--top row, currently contains welcome message & action buttons, time to competition, and gdrive links-->
        <div class="col wf"><br><!--start of "top left panel"-->
          <div class="card-body" style="border-radius:6px; background-color:#C8A4D4;">
            <h2 style="color:white;">cupertino WIT</h2>
           
            <br>
            <!--<form action="/start" method="post">
              #week drop down menu incoming#
              <label for="weeks" style="color:white;">Choose a week:</label>

              <select name="week" id="week" style="color:#C8A4D4">
                  <option value="1" style="color:#C8A4D4">1</option>
                  <option value="2" style="color:#C8A4D4">2</option>
                  <option value="3" style="color:#C8A4D4">3</option>
                  <option value="4" style="color:#C8A4D4">4</option>
                  <option value="5" style="color:#C8A4D4">5</option>
                  <option value="6" style="color:#C8A4D4">6</option>
                  <option value="7" style="color:#C8A4D4">7</option>
                  <option value="8" style="color:#C8A4D4">8</option>
                  <option value="9" style="color:#C8A4D4">9</option>
                  <option value="10" style="color:#C8A4D4">10</option>
                  <option value="11" style="color:#C8A4D4">11</option>
              </select>
              week drop down menu END-->
               <p style="color:white">Our club is a club to (insert description of club here) etc. etc. abc def eidk asdioejdas;eidf eis;ajldkfie jadpeofddkl. abc def eidk asdioejdas;eidf eis;ajldkfie jadpeofddkl. abc def eidk asdioejdas;eidf eis;ajldkfie jadpeofddkl. abc def eidk asdioejdas;eidf eis;ajldkfie jadpeofddkl. abc def eidk asdioejdas;eidf eis;ajldkfie jadpeofddkl.dfakadsjk;lf</p>
          </div>
        </div><!--end of "top left panel"-->
      
        
          

        <div class="col wf"><br>


            
          <div class="card-body" style="border-radius:6px; background-color:#C8A4D4;">
            <h4 style="color:white;">time to next meeting:</h4>
            <!--timer-->
            <h3 style="color:white;" id="demo"></h3>
          </div>
            <br>
          
          <div class="card-body" style="border-radius:6px; background-color:#C8A4D4;">
            <a href="https://docs.google.com/presentation/d/1ixj4MsDV8pElWS2KSkF0ZgK15FxYe7k1YozD9SnmS8I/edit?usp=sharing" style="color:white;font-family:sans-serif;">Last Meeting's Slides</a><br><br>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScFM9lRSeqApuHB5w2124CSvG5nam3kCbyjgxXZR0ZLHPIkmQ/closedform" style="color:white;font-family:sans-serif;">Officer App</a>
          </div>
        </div>


    


 

      </div>

      <div class="row wf"><!--second row, with teams and past attempts display-->
        <div class="col wf"><!--bottom left panel start-->
          

          <div class="card-body" style="border-radius:6px; background-color:#C8A4D4;"><!--start of pink card body-->
            <div class="row wf">
              <h2 style="color:white;">officer team</h2>

              <div class="col wf">
                <div class="card-body" style="border-radius:6px; background-color:white;">
                  <img src="https://www.publicdomainpictures.net/pictures/70000/velka/purple-flowers-1390066627sQu.jpg" class="card-img" alt="...">

                  <h2 style="color:#C8A4D4;">name1</h2>
                  <a style="color:#C8A4D4;">description</a>
                </div>
              </div>

              <div class="col wf">
                <div class="card-body" style="border-radius:6px; background-color:white;">

                  <img src="https://th.bing.com/th/id/OIP.UznHpJrqp_j7RscQDB4aagAAAA?rs=1&pid=ImgDetMain" class="card-img" alt="...">

                  <h2 style="color:#C8A4D4;">name2</h2>
                  <a style="color:#C8A4D4;">description</a>

                </div>
              </div>

              <div class="col wf">
                <div class="card-body" style="border-radius:6px; background-color:white;">

                  <img src="https://th.bing.com/th/id/R.4b09b067a814c117ec1a34bbb021a00e?rik=Mytxyc8rtpBNIA&riu=http%3a%2f%2fwww.hdwallpapers.in%2fwalls%2fpurple_flowers-normal.jpg&ehk=1LFwUfNeO0jPoxDXFaA5LDa%2fU8JQPBSRMtZtI0VTzGI%3d&risl=&pid=ImgRaw&r=0" class="card-img" alt="...">

                  <h2 style="color:#C8A4D4;">name3</h2>
                  <a style="color:#C8A4D4;">description</a>

                </div>
              </div>



            </div> 
          </div> 
        </div>


        <div class="col wf">
          
            <div class="card-body" style="border-radius:6px; overflow-y:scroll; max-height:332px;  background-color:#C8A4D4;"><!--start of pink card body-->
            
              <h2 style="color:white;">past challenges</h2>
              <div class="row wf">
                
                  <!--displaying each attempt-->
                    
                  
                  <!--displaying each attempt END-->
              
                
                <!--table attempt-->
                <table class="table">
                  <thead>
                    <tr>
                      
                      <th scope="col" style="color:white;">Week</th>
                      <th scope="col" style="color:white;">Date</th>
                      <th scope="col" style="color:white;">Score</th>
                      <th scope="col" style="color:white;">Review</th>
                      
                      
                    </tr>
                  </thead>

                  <tbody>

                    {%for i in range(len-1,0,-1)%}
                    <tr>
                      <td style="color:white;">{{attempts[i].getweek()}}</td>
                      <td style="color:white;">{{attempts[i].getdate().strftime('%Y-%m-%d %I:%M %p')}}</td>
                      <td style="color:white;">{{attempts[i].getscore()}} / {{attempts[i].getnumqs()}}</td>
                      <td style="color:white;">
                        <form action="/view" method="post">
                          <button class="btn-sm round">View Details</button> 
                          <input type="hidden" id="attempt_id" name="attempt_id" value={{attempts[i].id}}>
                        </form>
                      </td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>

                <!--table attempt END-->
              </div>
              
            </div><!--end of pink card body-->
        </div>
        
         
        </div><!--end of second row-->


  


       

    

      
      

    

      


    </div><!--closing for container attempting to do bootstrap-->

    
  

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!--timer-->
    <script>
      // Set the date we're counting down to
      var countDownDate = new Date("Jun 31, 2024 24:00:00").getTime();

      // Update the count down every 1 second
      var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
      }
      }, 1000);
    </script>
    <!--end of timer-->
    
    
    </body>
    </html>

    
    

  
  
 

</html>
