body{
    background-color: rgba(38, 22, 69, 1);
    font-family:'Poppins';
}
/*nav*/
nav{
    display: flex;
    padding: 5%;
    justify-content:space-between;
}
nav li{
    display:inline-block;
    padding:20px;
    padding-top:30px;
    font-weight:300;

}
li a{
    text-decoration:none;
    color:white;
}
nav img{
    width:100px;

}

/*main*/
.main{
    padding:8%;
    color:white;
    padding-top:0%;
    line-height:50px;
    text-align:start;
}
h1{
    font-weight:600;
    font-size:60px;
}
.btn{
    color:white;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    background-color:rgba(150, 115, 178, 1);
}
.btn a{
    color:white;
    text-decoration:none;

}
.main p{
    font-weight:300;
}
.top{
   
    background-image: linear-gradient(rgba(38, 22, 69, 0.7), rgba(38, 22, 69, 0.7)), url(imgs/womenit.webp);
   background-size:cover;
    background-repeat:no-repeat;

   
}

/*time*/
.time{
    margin:50px;
    margin-top:45px;
    margin-bottom:45px;
    padding:20px;
    padding-top:30px;
    background-color:white;
    text-align:center;
    line-height:80px;
    border-radius:10px;
    color:rgba(150, 115, 178, 1);
}
h2{
    font-weight:600;
    font-size:35px;
}

/*about*/

.about{
    margin-top:30px;
    margin-bottom:30px;
    background-color:white;
    display:flex;
    color:rgba(150, 115, 178, 1);
    
    
}
.abt-text{
    padding:45px;
    align-content:center;
}
.about img{
   
    width:50%;
}
.about p{
    font-size:14px;
    margin-top:20px;
}

/*officers*/

.officers{
    background-color:rgba(150, 115, 178, 1);
    margin:50px;
    padding:45px;
    border-radius:10px;
    
}
.officers h2{
    color:white;
    text-align:center;
    padding-bottom:45px;
}


.test{
    
    margin-top:30px;
    margin-bottom:30px;
    background-color:white;
   display:flex;
    color:rgba(150, 115, 178, 1);
    border-radius:10px;
}
.card-text{
    padding:20px;
}
.test img{
    width:40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.test p{
    font-size:14px;
}
h4{
    font-weight:400;
    font-size:20px;
}
.footer{
    background-color:white;
    color:rgba(150, 115, 178, 1);
    padding: 50px;
}
.footer h2{
    margin-bottom:30px;
}
.footer p{
    font-size:14px;
}
.footer p a{
    text-decoration:none;
    color:rgba(150, 115, 178, 1);
}

@media (max-width: 840px){
    .about{
      flex-direction:column; 
    }
    .about img{
       width:100%;
    }
    .test{
        flex-direction:column; 
    }
    .test img{
        width:100%;
    }
   
   

}





  